{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Football Matches</title>
   <link rel="stylesheet" href="{% static 'matches/css/style.css' %}">
</head>
<body>

    {% if user.is_authenticated %}
    <p>👋 Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p><a href="{% url 'login' %}">Login</a> / <a href="{% url 'signup' %}">Register</a></p>
    {% endif %}


  <h1>Upcoming Matches</h1>
  <ul>
    {% for match in matches %}
      <li>
        <a href="{% url 'match_detail' match.id %}">
          {{ match.day }} - {{ match.date }} at {{ match.time }}
        </a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
